<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.znode.com" value="https://nuget.znode.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.znode.com>
      <add key="Username" value="znode-mission@mrrsoft.com" />
      <add key="ClearTextPassword" value="Mrr@123" />
    </nuget.znode.com>
  </packageSourceCredentials>
</configuration>
